{{#if user}}
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a simple website using NodeJS with Express</p>
  <p class="lead">Create categories and posts in your profile</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-md mb-2" href="/admin" role="button">Go to your profile!</a>
  <p class="mt-3">Created by Viktor Furieri</p>
  
  
</div>
{{else}}
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a simple website using NodeJS with Express</p>
  <p class="lead">Create an account or sign in</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-md" href="/users/login" role="button">Sign in!</a>
  <a class="btn btn-primary btn-md" href="/users/register" role="button">Register now!</a>
  <p class="mt-3">Created by Viktor Furieri</p>

{{/if}}
