{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h3>Create your account</h3>
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for="username">Username:</label> 
                <input type="text" name="username" class="form-control mb-2" required>
            <label for="email">Email:</label>
                <input type="email" name="email" class="form-control mb-2" required>
            <label for="password">Password:</label>
                <input type="password" name="password" class="form-control mb-2" required>
            <label for="password">Repeat password:</label>
                <input type="password" class="form-control" name="password2" required>
            <button type="submit" class="btn btn-success mt-4">Register now</button>

        </form>

    </div>
</div>