
<div class="card">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <h6>{{post.description}}</h6>
        <small> Create at:{{#formatDate date}} {{/formatDate}}</small>
        <hr>
        <h5>Content: </h5>
        <p>{{post.content}}</p>
    </div>
</div>